.map-container {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.page{
  position: relative;
  height: 100%;
  width: 100%;
}

#infoDiv {
  background: white;
  padding: 10px;
}


#legendDiv{
  background-color: #ffff;
  padding: 17px;
}

.img {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#searchDiv{
  background: #fff;
  /* width: 300px;
  height: 30px; */
}

#echartDiv{
  background: #fff;
  width: 400px;
}